{
  "openapi": "3.0.0",
  "info": {
    "title": "FitSpace API",
    "description": "API for the FitSpace platform to manage venues, bookings, reviews, and payments.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.fitspace.com/v1",
      "description": "Production Server"
    }
  ],
  "paths": {
    "/users": {
      "get": {
        "summary": "Get all users",
        "responses": {
          "200": {
            "description": "List of all users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/venues": {
      "get": {
        "summary": "Get all venues",
        "responses": {
          "200": {
            "description": "List of all venues",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Venue"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new venue",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Venue"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Venue created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Venue"
                }
              }
            }
          }
        }
      }
    },
    "/venues/{venueId}": {
      "get": {
        "summary": "Get venue details",
        "parameters": [
          {
            "name": "venueId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the venue to retrieve"
          }
        ],
        "responses": {
          "200": {
            "description": "Venue details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Venue"
                }
              }
            }
          }
        }
      }
    },
    "/bookings": {
      "post": {
        "summary": "Create a booking",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Booking"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Booking created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Booking"
                }
              }
            }
          }
        }
      }
    },
    "/payments": {
      "post": {
        "summary": "Create a payment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Payment"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY"
      }
    },
    "schemas": {
      "RegisterRequest": {
        "type": "object",
        "properties": {
          "username": { "type": "string", "example": "test_user" },
          "email": { "type": "string", "example": "test@example.com" },
          "password": { "type": "string", "example": "securepassword" }
        },
        "required": ["username", "email", "password"]
      },
      "LoginRequest": {
        "type": "object",
        "properties": {
          "email": { "type": "string", "example": "test@example.com" },
          "password": { "type": "string", "example": "securepassword" }
        },
        "required": ["email", "password"]
      },
      "UserUpdateRequest": {
        "type": "object",
        "properties": {
          "email": { "type": "string", "example": "user@example.com" },
          "username": { "type": "string", "example": "user123" },
          "password": { "type": "string", "example": "hashedpassword" },
          "avatar": { "type": "string", "example": "https://example.com/avatar.jpg" }
        }
      },
      "UserDataResponse": {
        "type": "object",
        "properties": {
          "code": { "type": "number", "example": 200 },
          "status": { "type": "string", "example": "OK" },
          "data": {
            "type": "object",
            "properties": {
              "username": { "type": "string", "example": "test_user" },
              "email": { "type": "string", "example": "test@example.com" }
            }
          }
        }
      },
      "ManyUserDataResponse": {
        "type": "object",
        "properties": {
          "code": { "type": "number", "example": 200 },
          "status": { "type": "string", "example": "OK" },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "username": { "type": "string", "example": "test_user" },
                "email": { "type": "string", "example": "test@example.com" }
              }
            }
          }
        },
        "example": {
          "code": 200,
          "status": "OK",
          "data": [
            { "username": "john_doe", "email": "john.doe@example.com" },
            { "username": "jane_smith", "email": "jane.smith@example.com" },
            { "username": "alice_wonder", "email": "alice.wonder@example.com" }
          ]
        }
      },
      "AddUpdateVenueRequest": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "example": "Sport Center A" },
          "address": { "type": "string", "example": "123 Main Street" },
          "facilities": { "type": "array", "items": { "type": "string" }, "example": ["WiFi", "Parking"] },
          "latitude": { "type": "number", "example": -6.2088 },
          "longitude": { "type": "number", "example": 106.8456 },
          "gallery": { "type": "array", "items": { "type": "string" }, "example": ["https://example.com/img1.jpg", "https://example.com/img2.jpg"] },
          "rating": { "type": "number", "example": 4.5 },
          "reviews_count": { "type": "integer", "example": 25 },
          "created_at": { "type": "string", "format": "date-time", "example": "2024-01-01T12:00:00Z" },
          "updated_at": { "type": "string", "format": "date-time", "example": "2024-01-01T12:00:00Z" }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "example": 1 },
          "email": { "type": "string", "example": "user@example.com" },
          "username": { "type": "string", "example": "user123" },
          "password": { "type": "string", "example": "hashedpassword" },
          "avatar": { "type": "string", "example": "https://example.com/avatar.jpg" },
          "role": { "type": "string", "example": "user" },
          "created_at": { "type": "string", "format": "date-time", "example": "2024-01-01T12:00:00Z" },
          "updated_at": { "type": "string", "format": "date-time", "example": "2024-01-01T12:00:00Z" }
        }
      },
      "Venue": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "example": 1 },
          "owner_id": { "type": "integer", "example": 2 },
          "name": { "type": "string", "example": "Sport Center A" },
          "address": { "type": "string", "example": "123 Main Street" },
          "facilities": { "type": "array", "items": { "type": "string" }, "example": ["WiFi", "Parking"] },
          "latitude": { "type": "number", "example": -6.2088 },
          "longitude": { "type": "number", "example": 106.8456 },
          "gallery": { "type": "array", "items": { "type": "string" }, "example": ["https://example.com/img1.jpg", "https://example.com/img2.jpg"] },
          "rating": { "type": "number", "example": 4.5 },
          "reviews_count": { "type": "integer", "example": 25 },
          "created_at": { "type": "string", "format": "date-time", "example": "2024-01-01T12:00:00Z" },
          "updated_at": { "type": "string", "format": "date-time", "example": "2024-01-01T12:00:00Z" }
        }
      },
      "Schedule": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "example": 1 },
          "venue_id": { "type": "integer", "example": 1 },
          "date": { "type": "string", "format": "date", "example": "2024-01-01" },
          "time_slot": { "type": "string", "example": "06:00 - 07:00" },
          "price": { "type": "number", "example": 50.00 },
          "status": { "type": "string", "example": "available" },
          "created_at": { "type": "string", "format": "date-time", "example": "2024-01-01T12:00:00Z" },
          "updated_at": { "type": "string", "format": "date-time", "example": "2024-01-01T12:00:00Z" }
        }
      },
      "Review": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "example": 1 },
          "venue_id": { "type": "integer", "example": 1 },
          "user_id": { "type": "integer", "example": 3 },
          "rating": { "type": "number", "example": 4.5 },
          "comment": { "type": "string", "example": "Great venue!" },
          "photos": { "type": "array", "items": { "type": "string" }, "example": ["https://example.com/review1.jpg"] },
          "created_at": { "type": "string", "format": "date-time", "example": "2024-01-01T12:00:00Z" },
          "updated_at": { "type": "string", "format": "date-time", "example": "2024-01-01T12:00:00Z" }
        }
      },
      "Booking": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "example": 1 },
          "user_id": { "type": "integer", "example": 3 },
          "venue_id": { "type": "integer", "example": 2 },
          "facility": { "type": "string", "example": "Basketball Court" },
          "date": { "type": "string", "format": "date", "example": "2024-01-01" },
          "time_slot": { "type": "string", "example": "06:00 - 07:00" },
          "price": { "type": "number", "example": 100.00 },
          "created_at": { "type": "string", "format": "date-time", "example": "2024-01-01T12:00:00Z" }
        }
      },
      "PaymentMethod": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "example": 1 },
          "name": { "type": "string", "example": "E-Wallet" },
          "provider": { "type": "string", "example": "Gopay" },
          "type": { "type": "string", "example": "e_wallet" },
          "fee": { "type": "number", "example": 2.00 },
          "min_amount": { "type": "number", "example": 10.00 },
          "max_amount": { "type": "number", "example": null },
          "created_at": { "type": "string", "format": "date-time", "example": "2024-01-01T12:00:00Z" },
          "updated_at": { "type": "string", "format": "date-time", "example": "2024-01-01T12:00:00Z" }
        }
      },
      "Payment": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "example": 1 },
          "booking_id": { "type": "integer", "example": 2 },
          "payment_method_id": { "type": "integer", "example": 1 },
          "total_amount": { "type": "number", "example": 150.00 },
          "payment_status": { "type": "string", "example": "completed" },
          "created_at": { "type": "string", "format": "date-time", "example": "2024-01-01T12:00:00Z" }
        }
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number",
            "example": 200
          },
          "status": {
            "type": "string",
            "example": "OK"
          },
          "data": {
            "type": "object",
            "properties": {
              "token": { "type": "string", "example": "token-unique" }
            }
          }
        }
      },
      "DeleteMessageResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number",
            "example": 200
          },
          "status": {
            "type": "string",
            "example": "OK"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number",
            "example": 400
          },
          "status": {
            "type": "string",
            "example": "BAD REQUEST"
          },
          "errors": { "type": "string", "example": "Detailed error message" }
        }
      }
    },
    "parameters": {
      "BearerAuthorizationHeader": {
        "name": "Authorization",
        "in": "header",
        "required": true,
        "schema": { "type": "string" }
      },
      "ApiKeyAuthorizationHeader": {
        "name": "X-API-KEY",
        "in": "header",
        "required": true,
        "schema": { "type": "string" }
      }
    }
  }
}
